/* all the styles for my DS components */
.btn.primary,
button.primary {
  background-image: linear-gradient(
    -10deg,
    var(--dr-quinary),
    var(--dr-quaternary)
  );
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-shuffle.color-font {
  background-image: url("../icons/shuffle_light.svg");
}

.icon-shuffle.color-primary {
  background-image: url("../icons/shuffle.svg");
}

.icon-arrow-up.color-font {
  background-image: url("../icons/arrow_up_light.svg");
}

.icon-arrow-up.color-primary {
  background-image: url("../icons/arrow_up.svg");
}

.icon-arrow-down.color-font {
  background-image: url("../icons/arrow_down_light.svg");
}

.icon-arrow-down.color-primary {
  background-image: url("../icons/arrow_down.svg");
}

.icon-arrow-left.color-font {
  background-image: url("../icons/chevron_left_light.svg");
}

.icon-arrow-left.color-primary {
  background-image: url("../icons/arrow_left.svg");
}

.icon-arrow-right.color-font {
  background-image: url("../icons/chevron_right_light.svg");
}

.icon-arrow-right.color-primary {
  background-image: url("../icons/chevron_right.svg");
}

.icon-save.color-primary {
  background-image: url("../icons/save.svg");
}

.icon-save.color-font {
  background-image: url("../icons/save_light.svg");
}

.icon-folder.color-primary {
  background-image: url("../icons/folder.svg");
}

.icon-folder.color-font {
  background-image: url("../icons/folder_light.svg");
}

.icon-trash.color-primary {
  background-image: url("../icons/trash.svg");
}

.icon-trash.color-font {
  background-image: url("../icons/trash_light.svg");
}

.icon-add.color-primary {
  background-image: url("../icons/add.svg");
}

.icon-add.color-font {
  background-image: url("../icons/add_light.svg");
}

.icon-sun.color-font {
  background-image: url("../icons/sun_light.svg");
}

.icon-sun.color-primary {
  background-image: url("../icons/sun.svg");
}

.icon-stop.color-font {
  background-image: url("../icons/stop_light.svg");
}

.icon-stop.color-primary {
  background-image: url("../icons/stop.svg");
}

.icon-share.color-font {
  background-image: url("../icons/share_light.svg");
}

.icon-share.color-primary {
  background-image: url("../icons/share.svg");
}

.icon-settings.color-font {
  background-image: url("../icons/settings_light.svg");
}

.icon-settings.color-primary {
  background-image: url("../icons/settings.svg");
}

.icon-arrow-left.color-font {
  background-image: url("../icons/arrow_left_light.svg");
}

.icon-arrow-left.color-primary {
  background-image: url("../icons/arrow_left.svg");
}

.icon-arrow-right.color-font {
  background-image: url("../icons/arrow_right_light.svg");
}

.icon-arrow-right.color-primary {
  background-image: url("../icons/arrow_right.svg");
}

.icon-refresh.color-font {
  background-image: url("../icons/refresh_light.svg");
}

.icon-refresh.color-primary {
  background-image: url("../icons/refresh.svg");
}

.icon-redo.color-font {
  background-image: url("../icons/redo_light.svg");
}

.icon-redo.color-primary {
  background-image: url("../icons/redo.svg");
}

.icon-play.color-font {
  background-image: url("../icons/play_light.svg");
}

.icon-play.color-primary {
  background-image: url("../icons/play.svg");
}

.icon-pause.color-font {
  background-image: url("../icons/pause_light.svg");
}

.icon-pause.color-primary {
  background-image: url("../icons/pause.svg");
}

.icon-graph.color-font {
  background-image: url("../icons/graph_light.svg");
}

.icon-graph.color-primary {
  background-image: url("../icons/graph.svg");
}

.icon-edit.color-font {
  background-image: url("../icons/edit_light.svg");
}

.icon-edit.color-primary {
  background-image: url("../icons/edit.svg");
}

.icon-check.color-font {
  background-image: url("../icons/check_light.svg");
}

.icon-check.color-primary {
  background-image: url("../icons/check.svg");
}

.icon-check.color-success {
  background-image: url("../icons/check_success.svg");
}

.icon-close.color-font {
  background-image: url("../icons/close_light.svg");
}

.icon-close.color-primary {
  background-image: url("../icons/close.svg");
}

.icon-close.color-success {
  background-image: url("../icons/close_danger.svg");
}
